* {box-sizing: border-box}
body {font-family: "Lato", sans-serif;
  min-height: 100vh;
  background: linear-gradient(to left, rgb(91, 161, 227), rgb(81, 228, 86));
}
 
.button {
  background-color: #ffffff; 
  border: 1px #000000;
  color: black;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 3px 1px;
  cursor: pointer;
  border-radius: 4px;
}

.fade {
  background-color: #ffffff;
  color: #000000;
  transition: background-color 2s;
}

.fade:hover {
  background-color: #788ce3;
}

.fade:focus,
.fade:active {
  background-color: #51e456;
  transition: none;
}
