* {box-sizing: border-box}
body {font-family: "Lato", sans-serif;
  min-height: 100vh;
  background: linear-gradient(to left, rgb(91, 161, 227), rgb(81, 228, 86));
}
 
.button {
  background-color: #ffffff; 
  border: none;
  color: black;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 6px;
}

.fade {
  background-color: #ffffff;
  color: #000000;
  transition: background-color 0.5s;
}

.fade:hover {
  background-color: #7a73ff;
}

.fade:focus,
.fade:active {
  background-color: red;
  transition: none;
}
