.dnd-library-wrapper .editor-item .meta.type-iframe {
  background-image: url('icons/iframe-large.png');
}
.scald-menu .add-buttons .add-iframe {
  background: url('icons/iframe-large-inverted.png') 50% 50% no-repeat;
}
.scald-menu .add-buttons .add-iframe:hover {
  background: url('icons/iframe-large-color.png') 50% 50% no-repeat;
}
.scald-iframe-wrapper {
  clear: both;
  float: none;
  height: 0;
  margin: 0 auto;
  max-width: 981px;
  min-width: 300px;
  overflow: hidden;
  padding-bottom: 56.25%;
  padding-top: 25px;
  position: relative;
  width: 80vw;
}

@media (min-width: 992px) {
  .scald-iframe-wrapper {
    width: 60vw;
  }
}

.scald-iframe-wrapper iframe,
.scald-iframe-wrapper embed,
.scald-iframe-wrapper object {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
