/*
*{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;margin:0;padding0;-webkit-font-smoothing:antialiased}
@-ms-viewport {width: device-width;}

.css-divTable {width:90%; margin:0 auto; background:#00ff00;}
.css-divTable .row{float:left; clear: both; width:100%}
.css-divTable .columns{float:left;margin: 0 0 1em; background:tomato;text-align:center; padding-left: 1em; padding-right:1em}

.css-divTable .columns.one{width:100%}
.css-divTable .columns.two{width:50%}
.css-divTable .columns.three{width:33.33%}
.css-divTable .columns.four{width:25%}

.clearfix:after,
.css-divTable:after{content:'';display: block;overflow:hidden;visibility:hidden;width:0;height:0; clear:both;}

.clearfix,
.css-divTable{zoom:1}

@media only screen and (max-width:320px){
	.css-divTable {width:100%;}

	.css-divTable .columns.one,
	.css-divTable .columns.two,
	.css-divTable .columns.three,
	.css-divTable .columns.four{width:100%}

}
img, embed, object, video {max-width:100%;height:auto;}
html {font-size:100%;}
*/

/*  xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

a {font-size: 12px; font-family: arial, sans-serif; font-weight: normal; text-decoration : underline; color: #003399;}
a:hover {font-weight: normal; text-decoration: underline; color: #003399;}
body {margin-left: 0; margin-right: 0; margin-top: 0; font-size: 12px; font-family: arial, sans-serif; color: #000000; background-color: #ffffff;}
form {margin-top: 0; padding-top: 0; margin-bottom: 0;}
hr {color: #6e85bb; background: #6e85bb; border: 0; height: 1px;}
table.sortable {border:0; background-color: #6e85bb;}
table.sortable a.sortheader {background-color: #eeeeee; color:#003399; font-weight: bold; text-decoration: none; display: block;}
table.sortable span.sortarrow {color: black; text-decoration: none;}
td {font-size: 12px; font-family: arial, sans-serif; text-decoration: none;}
.css-ArticleBarDivider {background-color: #b7c2ca;}
.css-BanBox{width:100%;background:url("../images/rss_bar1.gif") repeat-x;}
.css-Black {background-color: #000000;}
.css-BodyCenter {margin-left: 0; margin-right: 0; margin-top: 0; font-size: 12px; font-family: arial, sans-serif; color: #000000; background-color: #ffffff; text-align: center;}
.css-BodyTitle {font-size: 17px; font-family: arial, sans-serif; font-weight: bold; color: #000000; margin:0; padding:0}
.css-Box25 {height:20px; width:25px; border-width:1px; border-color:#000000; border-style:solid; font-family:arial; font-size:13px}
.css-Box40 {height:20px; width:40px; border-width:1px; border-color:#000000; border-style:solid; font-family:arial; font-size:13px}
.css-Box60 {height:20px; width:60px; border-width:1px; border-color:#000000; border-style:solid; font-family:arial; font-size:13px}
.css-Box100 {height:20px; width:100px; border-width:1px; border-color:#000000; border-style:solid; font-family:arial; font-size:13px}
.css-Button {background-color:#003366; font:12px arial; color:#ffffff; font-weight:bold; cursor:pointer; cursor: hand;}
.css-Checkbox {vertical-align:middle;}
.css-ClearBoth {clear:both;}
.css-CodeEmphasize {font-size: 12px; font-family: monospace; font-weight: bold; color: #ff0000; text-decoration: none; font-style: normal;}
.css-CodeOutput {font-size: 12px; font-family: monospace; font-weight: bold; color: #4a4a4a; text-decoration: none; font-style: normal;}
.css-ContactForm {font-size: 13px; font-family:  arial, sans-serif; font-weight: bold; color: #404040; font-style: normal;}
.css-ContactFormRequired {font-size: 12px; font-family:  arial, sans-serif; font-weight: bold; color: #ff0000; font-style: normal;}
.css-ContactFormResponse {font-size: 13px; font-family:  arial, sans-serif; font-weight: bold; color: #404040; font-style: normal; margin: 0 20px;}
.css-ContactFormSmall {font-size: 9px; font-family:  arial, sans-serif; font-weight: bold; color: #ff0000; font-style: normal;}
.css-Disability {position:absolute; margin-left:-9000px;}
.css-DownloadButton {font-size: 12px; font-family: arial, sans-serif; font-weight: bold; color:#ffffff; text-decoration:none; background-color: #003366; border: outset #4a73bd 2px; padding: 0 3px; cursor: default;}
.css-FontSize7Black {font-size: 9px; font-family: arial, sans-serif; font-weight: normal; color: #000000; text-decoration: none; font-style : normal;}
.css-FooterBox{clear:both; width:100%; border-top:1px solid #6e85bb; text-align:center;}
.css-ItemBox{width:62%;float:left;padding-top:10px;}
.css-List{margin-top:5px; margin-bottom: -15px;}
.css-MainBox{width:100%;background:url("../images/rss_bar2.gif") repeat-x;padding-top:10px;}
.css-Margin{margin-bottom:5px;}
#css-Message {font-size: 12px; font-family: monospace; font-weight: bold; color: #ff0000; text-decoration: none; font-style: normal;}
#css-Message2 {font-size: 12px; font-family: monospace; font-weight: bold; color: #ff0000; text-decoration: none; font-style: normal;}
#css-Message3 {font-size: 12px; font-family: monospace; font-weight: bold; color: #ff0000; text-decoration: none; font-style: normal;}
#css-Message4 {font-size: 12px; font-family: monospace; font-weight: bold; color: #ff0000; text-decoration: none; font-style: normal;}
#css-Message5 {font-size: 12px; font-family: monospace; font-weight: bold; color: #ff0000; text-decoration: none; font-style: normal;}
#css-MessageOK {font-size: 12px; font-family: monospace; font-weight: bold; color: #0000ff; text-decoration: none; font-style: normal;}
.css-Note {font-size: 9px; font-family: arial, sans-serif; font-weight: normal; color: #000000; text-decoration: none; font-style: normal;}
.css-PadBanBox{padding:20px 10px 10px 10px;}
.css-PadItemBox{padding:10px 5px 10px 10px;}
.css-PadRhsBox{padding:10px 0 20px 10px;}
.css-PadTopBox{padding:10px;border:1px solid #6e85bb;}
.css-PopUpBlock{font-weight: bold; font-family:arial, sans-serif; font-size:13px; color: #ff0000; border: 1px solid #ff0000; text-align: left; width: 600px; margin-bottom: 20px; padding: 5px;}
.css-PopUpWindow{padding:10px;}
.css-PrintDisplay {display: none;}
.css-RadioButton {margin: 0 4px 0 0; vertical-align: middle;}
.css-ReadOnly {background: #c0c0c0}
.css-RelatedInformation{margin-bottom: 5px;}
.css-ReportLink {font-size: 12px; font-family: arial, sans-serif; font-weight: normal; color: #777777; text-decoration: none; font-style: normal;}
.css-RequestLink {font-size: 12px; font-family: arial, sans-serif; font-weight: bold; color: #ff6600;text-decoration: underline;}
.css-RequestLink:hover {font-size: 12px; font-family: arial, sans-serif; font-weight: bold; color: #5b8dc2; text-decoration: underline;}
.css-RhsBox{border-left:1px dashed #6e85bb; width:36%;float:right;}
.css-RhsBox ul {list-style-type:disc;margin:0 20px;padding:0;border:none;}
.css-RhsBox li {margin:0;padding:5px 0;}
.css-RSSBody {margin:10px; background-color: #ffffff; font-size: 13px; font-family: arial, sans-serif;}
.css-SectionSubTitle {font-size: 13px; font-family:  arial, sans-serif; font-weight: bold; color: #404040; font-style: normal;}
.css-SectionTitle {font-size: 13px; font-family: arial, sans-serif; font-weight: bold; color: #000000; margin:0; padding:0;}
.css-SectionTitle2 {font-size: 17px; font-family: arial, sans-serif; font-weight: bold; color: #000000; margin:0; padding:0}
.css-SupText {font-size: 12px; font-family: arial, sans-serif; font-weight: normal; color: #000000;}
.css-TableBorder {background-color: #6e85bb;}
.css-TableBorder2 {background-color: #ffffff;}
.css-TableData {font-size: 12px; font-family: arial, sans-serif; color: #000000; text-decoration : none; background-color: #ffffff;}
.css-TableDataBold {font-size: 12px;font-family: arial, sans-serif; font-weight: bold; color: #000000; text-decoration: none; background-color: #ffffff;}
.css-TableDataCode {font-size: 12px; font-family: monospace; font-weight: normal; color: #ff0000; text-decoration: none; font-style: normal; background-color: #ffffff;}
.css-TableDataInform  {font-size: 12px; font-family: arial, sans-serif; color: #000000; text-decoration: none; background-color: #ffffcc;}
.css-TableDataComments  {font-size: 12px; font-family: arial, sans-serif; color: #000000; text-decoration: none; background-color: #fafaf0;}
.css-TableDataQuickGuide  {font-size: 12px; font-family: arial, sans-serif; color: #000000; text-decoration: none; background-color: #e2ffe4;}
.css-TableHeader {font-size: 12px; font-family: arial, sans-serif; font-weight: bold; color: #000000; text-decoration: none; background-color: #eeeeee;}
.css-TableTitle {font-size: 13px; font-family: arial, sans-serif; font-weight: bold; color: #404040; font-style: normal;}
.css-TextGrayed {font-size: 12px; font-family: monospace; color: #777777; text-decoration: none; font-style: normal;}
.css-TextStrong {font-size: 12px; font-family: arial, sans-serif; font-weight: bold; color: #000000; text-decoration: none; font-style: normal;}
.css-TopBox{width:100%;}
.css-TableComments{border:1px solid #6e85bb; background-color: #fafaf0; width:100%}
.css-TableQuickGuide {border:1px solid #6e85bb; background-color: #e2ffe4; width:100%}
.css-Table50Per {border:0; background-color: #6e85bb; width:50%}
.css-Table100Per {border:1px solid #6e85bb; background-color: #ffffcc; width:100%}
.css-Table100Per2 {border:0 solid #6e85bb; background-color: #6e85bb; width:100%}
.css-Table100Per3 {width:100%}
.css-Table258px {border:0; background-color: #6e85bb; width:258px}
.css-Table360px {border:0; background-color: #6e85bb; width:360px}
.css-Table410px {border:0; background-color: #6e85bb; width:410px}
.css-Table508px {border:0; background-color: #6e85bb; width:508px}
.css-Table558px {border:0; background-color: #6e85bb; width:558px}
.css-Table618px {border:0; background-color: #6e85bb; width:618px}
.css-Table620px {border:0; background-color: #6e85bb; width:620px}
.css-Table650px {border:0; background-color: #6e85bb; width:650px}
.css-Table880px {border:0; background-color: #6e85bb; width:880px}
.css-Table470px {width:470px}
.css-Table500px {width:500px}
.css-Table610px {width:610px}
.css-Table615px {width:615px}
.css-Table628px {width:628px}
.css-TableMobile610px {border:0; background-color: #6e85bb; width:610px}
.css-TableSort558px {width:518px}
.css-TableSort618px {width:618px}


#css-XajaxButton {background-color:#003366; font:12px arial; color:#ffffff; font-weight:bold; cursor:pointer; cursor: hand;}
#css-XajaxButton1 {background-color:#003366; font:12px arial; color:#ffffff; font-weight:bold; cursor:pointer; cursor: hand;}
#css-XajaxButton2 {background-color:#003366; font:12px arial; color:#ffffff; font-weight:bold; cursor:pointer; cursor: hand;}
#css-XajaxButton3 {background-color:#003366; font:12px arial; color:#ffffff; font-weight:bold; cursor:pointer; cursor: hand;}
#css-XajaxButton4 {background-color:#003366; font:12px arial; color:#ffffff; font-weight:bold; cursor:pointer; cursor: hand;}
#css-XajaxButton5 {background-color:#003366; font:12px arial; color:#ffffff; font-weight:bold; cursor:pointer; cursor: hand;}
#css-XajaxButton6 {background-color:#003366; font:12px arial; color:#ffffff; font-weight:bold; cursor:pointer; cursor: hand;}
#css-XajaxButton7 {background-color:#003366; font:12px arial; color:#ffffff; font-weight:bold; cursor:pointer; cursor: hand;}
#css-XajaxButton8 {background-color:#003366; font:12px arial; color:#ffffff; font-weight:bold; cursor:pointer; cursor: hand;}
#css-XajaxButton9 {background-color:#003366; font:12px arial; color:#ffffff; font-weight:bold; cursor:pointer; cursor: hand;}
#css-XajaxButton10 {background-color:#003366; font:12px arial; color:#ffffff; font-weight:bold; cursor:pointer; cursor: hand;}
#date {font-size: 12px; font-family:  arial, sans-serif; font-weight: bold; color: #777777; clear: left; float: left; height: 13px; width: 1000px;}
#header {background-color: #ffffff; float: left; margin: 0; padding: 0; width: 1000px;}
#toolbar {background-color:#8c9cff; clear: left; float: left; height: 42px; margin-top: -2px; width: 1000px;}
#toolbar-main ul {display: inline; margin: 0; padding: 0;}
#toolbar-main ul li {display: inline;}
#toolbar-main ul li a{background-color:#8c9cff; color: #000000; float: left; font-size: 14px; font-family: arial, sans-serif; font-weight: bold; padding: 13px 11px; text-align: center;text-decoration: none;}
#toolbar-main ul li .inactiveLink {pointer-events: none; cursor: default; font-size: 18px; background-color:#000000; color:#ffffff; margin-left: -1px;}
#main{margin: 0; padding: 0; width: 628px; float: left;}
#navigation {width: 166px; float: left; margin-left: 5px;}
#navigation-translate, #navigation-main {background-color: #bbcde1; border: 1px solid #8fa4cb; float: left;margin-bottom: 10px; margin-left: 0; width: 156px;}
#navigation-ads1 {background-color: #ffffff; border: 0; float: left; margin:0 0 10px 0; padding:0; width: 160px; }
#navigation-ads1 {text-align: left;}
#navigation-ads2 {background-color: #ffffff; border: 0; float: left; margin:0; padding:0; width: 160px; }
#navigation-ads2 {text-align: left;}
#navigation-main-title {border-bottom: 1px solid #8fa4cb; color: #000000; font-family:arial, sans-serif; font-size: 15px; font-weight: bold; padding-left: 5px;margin:0}
#navigation-main form li  {color: #000000; display: block; font-size: 12px; font-weight: normal; padding-bottom: 15px; padding-left: 20px; text-decoration: none;}
#navigation-main ul {margin: 0; padding: 5px 0 16px 0;}
#navigation-main li, #navigation-translate li {list-style-type: none; display: inline;}
#navigation-main a {color: #003399; display: block; font-family:arial,sans-serif; font-size: 12px; font-weight: normal; padding-top: 10px; line-height:16px; padding-left: 5px; text-decoration: none;}
#navigation-main a:hover {color: #003399; font-family:arial,sans-serif; font-weight: normal; text-decoration: underline;}
#navigation-main-list .hide {display: none;}
#navigation-main #navigation-main-list #navigation-main-toggletext {font-size: 15px; font-weight: bold;}
.navigation-main-adblock {margin: 0 0 3px 5px; display: block;}
.navigation-main-subtitle {color: #4a4a4a; font-size: 12px; font-weight: bold; padding-left: 20px; text-decoration: none; padding-bottom: 15px;}
#navigation-translate ul {margin: 0;padding: 0;padding-top: 15px;padding-bottom: 15px;}
#navigation-translate a {padding-left: 20px; }
#navigation-translate-title {border-bottom: 1px solid #8fa4cb; color: #000000; font-size: 13px; font-weight: bold; padding-left: 5px; margin-bottom: 10px}
#sidebar {width: 190px; float: right; margin-left: 4px;}
#sidebar-ads {background-color: #ffffff; border: 0 solid #8fa4cb; float: left; margin: 0; padding:0; text-align: center; width: 180px;}
#sidebar-ads2 {background-color: #ffffff; border: 0 solid #8fa4cb; float: left; margin:0; padding:0; text-align: center; width: 180px;}
#sidebar-poll {background-color: #ffffff; border: 0 solid #8fa4cb; float: left; margin: 10px 0 0 0; padding: 0; width: 180px;}
#footer {clear: both; text-align: center; width: 996px; padding:10px 0 10px 0; margin:0}
#footer-ad-bottom {float: left; text-align: center; width: 996px; }
#footer-ad-top {float: left; text-align: center; width: 996px; margin: 0 0 10px 0;}
#footer-bottom {color: #777777; font-size: 9px; font-family: verdana, arial, sans-serif; font-weight: normal; text-align: center; text-decoration: none; width: 996px; clear: left;}
#footer-bottom a {color: #003399; font-size: 9px;font-family: verdana, arial, sans-serif; font-weight: normal; text-decoration: underline;}
#footer-bottom a:hover {color: #003399; font-size: 9px; font-family: verdana, arial, sans-serif; font-weight: normal; text-decoration: underline;}
#footer-external {float: left; margin-top: 5px; width: 996px;}
#footer-external-left {float: left; text-align: center; width: 330px;}
#footer-external-middle {float: left; text-align: center; width: 330px;}
#footer-external-right {float: left; text-align: center; width: 330px;}
#footer-line {background-color:#6f84b9; float: left; height: 1px; width: 1000px; margin-bottom:8px;}
#footer-main {padding-bottom: 5px;}
#footer-main ul {color: #777777; font-family: arial, sans-serif;font-size: 12px; font-weight: normal; margin: 0; padding: 0;}
#footer-main ul li {display: inline;}
#footer-main ul li a {color: #777777; padding-right: 5px; text-decoration: none;}
#footer-main ul li a:hover {color: #777777; text-decoration: underline;}
#tools {margin: 0; padding: 0 0 20px 0; float: left;}
#tools-table {float: left; list-style-type: none; padding: 0; margin: 0;}
#tools-table li {float: left;}
#tools-table li.col1 {width: 480px;}
#tools-table li.col2 {width: 140px;}
.gallery {width: 127px; display: block; margin: 20px 0 0 0; float: right}
.gallery-ad {width: 440px; height: 280px; display: block; margin-top:15px; float: left;}
.gallery-buttons {float: left; margin-bottom: 2px; width: 22px; clear: left;}
.gallery-links a {color: #003399; float: left; font-family: arial, sans-serif; font-size: 12px; font-weight: normal; text-align: left; text-decoration: none; margin-bottom: 2px;width: 105px;}
.gallery-links a:hover {text-decoration: underline;}
#container {border: 1px solid #6f84b9; width: 1000px; text-align: left; background-color: #ffffff; margin-right:auto; margin-left:auto;}
#canvas {width: 1000px; clear: left;}
#content {width: 628px;float: left;}
#content-guides {background-color: #e2ffe4; border: 1px solid #6e85bb; color: #000000; font-size: 12px; font-family: arial, sans-serif; padding: 0; text-decoration: none; width: 628px;}
.content-guides-adblock {padding-bottom: 10px; display: block;}
#content-guides-title {color: #000000; font-family: arial, sans-serif; font-size: 13px; font-weight: bold; padding: 3px 3px 10px 3px;margin:0}
#content-guides-main {padding: 3px;}
#content-guides-main a {color: #003399; display: block; font-family:arial,sans-serif; font-size: 12px; font-weight: normal; padding-bottom: 3px; line-height:16px; padding-left: 0; text-decoration: underline;}
#content-guides-main a:hover {color: #003399; font-family:arial,sans-serif; font-weight: normal; text-decoration: underline;}
#content-guides-main ul {margin: 0; padding: 0 0 5px 0;}
#content-guides-main li {list-style-type: none;}
#content-guides-mobile {padding: 3px;}
#content-guides-mobile ul {list-style-image: url("../images/mobile.gif"); margin: 0 0 0 20px; padding: 0;}
#consoleInputTitle, #consoleInputTitle2, #consoleOutputTitle, #consoleOutputTitle2, #consoleOutputTitle3 {font-size: 13px; font-family: arial, sans-serif; font-weight: bold; color: #000000;margin:0; padding:0}
#consoleTitle {font-size: 17px; font-family: arial, sans-serif; font-weight: bold; color: #000000; margin:0; padding:0}
